body {
background-color: gray;
}


h1 {color:pink;
font-family:helvetica;
border: 5px solid red;
padding: 50px;
}

h2 {color:blue;
  font-family:arial;
  border: 2px dotted pink;
}

h3 {color:orange;
  border: 3px double orange;
}

h4 {color:purple;
font-family: /* HACK:  */;
border: 5px solid brown;
}

img {
  border: 10px solid black;
  margin-left: 10px;
}

h5 {Color:pink;
font-family:arial;
border: 3px dotted pink;
}
